<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WillPower.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F382A561CECF5BD008D4EDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F382A6A1CECF5BD008D4EDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F382A751CECF5BD008D4EDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
